*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h4{
  margin: 50px;
  padding: 2.2rem;
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
}

.cardsContainer{
  background-color: rebeccapurple;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 10%;
  width: 10%;
  gap: 10px;    
  margin: 40px;  
  height: fit-content;
  width: fit-content;
  padding: 2.5rem;
  border-radius: 50%;
}

.card{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;  
  border-radius: 50%;  
  cursor: pointer;  
}

.card i{  
  font-size: 22px;  
}

.card.down{
  background: rgb(18, 6, 107);
}

.card.up{
  background: green;
}

.card.selected{
  background-color: orange;
}